/*
 * This CSS file will be automatically loaded when the block runs.
 */
.bookshelf-block {
    position: relative;;
    min-height: 100px;
    border-radius: 3px;
}

.bookshelf-item-wrapper {
    margin-bottom: 20px;
    display: block;
}

.bookshelf-item-wrapper:hover {
    text-decoration: none !important;
}

.bookshelf-item {
    display: block;
    border: 1px solid #f8f8f8;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform .5s;
}

.bookshelf-item.no-cover img {
    display: none;
}

.bookshelf-item .no-cover-image {
    display: none;
}

.bookshelf-item.no-cover .no-cover-image {
    display: block;
    padding-top: 63.738637%;
    padding-bottom: 63.738637%;
    text-align: center;
    color: #ccc;
}

.bookshelf-item-wrapper:hover .bookshelf-item {
    transform: scale(1.1);
}

.bookshelf-block .bookshelf-item-title {
    display: block;
    word-wrap: break-word;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    transition: margin .5s;
}

.bookshelf-item-wrapper:hover .bookshelf-item-title {
    margin-top: 20px;
    margin-bottom: 0;
}

.bookshelf-block.no-results {
    background: #eee;
}

.bookshelf-block.no-results span {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}